@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.card {
    margin: 16px 8px;
}

.card-list{
    display: flex;
}

div.justify-content-center{
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
}

#removeIcon{
    height: 20px;
}

#editIcon{
    height: 20px;
}